.st0{fill:#F9FAF8;stroke:#0F0F0F;stroke-miterlimit:10;  stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 8s linear alternate infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }